<div class="group">
    <h3 class="group-title">标签<small>(label)</small></h3>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <span class="label label-default">Default</span>
            <span class="label label-primary">Primary</span>
            <span class="label label-success">Success</span>
            <span class="label label-info">Info</span>
            <span class="label label-warning">Warning</span>
            <span class="label label-danger">Danger</span>
        </div>
    </div>
</div>
        
