<div class="group">
    <h3 class="group-title">面板<small>(panels)</small></h3>
    <hr>
    <div class="row">
        {% for panel in site.data.panel.border_panel %}
        <div class="col-sm-3">
            <div class="panel panel-{{panel.type}}">
                <div class="panel-heading">
                    <h3 class="panel-title text-uppercase">{{panel.name}}</h3>
                </div>
                <div class="panel-body">{{site.panelcontent}}</div>
            </div>
        </div>
        {% endfor %}
        {% for panel in site.data.panel.border_panel %}
        <div class="col-sm-3">
            <div class="panel panel-border panel-{{panel.type}}">
                <div class="panel-heading">
                    <h3 class="panel-title text-uppercase">{{panel.name}}</h3>
                </div>
                <div class="panel-body">{{site.panelcontent}}</div>
            </div>
        </div>
        {% endfor %}
        {% for panel in site.data.panel.border_panel %}
        <div class="col-sm-3">
            <div class="portlet">
                <div class="portlet-heading portlet-{{panel.type}}">
                    <h3 class="portlet-title text-uppercase">portlet</h3>
                    <div class="portlet-widgets">
                        <a href="javascript:;">X</a>
                    </div>
                </div>
                <div class="portlet-body">
                    {{site.panelcontent}}
                </div>
            </div>
        </div>
        {% endfor %}
        
        {% for panel in site.data.panel.table_panel %}
        <div class="col-sm-6">
            <div class="panel panel-tabs panel-{{panel.type}}">
                <div class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li class="active">
                            <a href="javascript:">Tab One</a>
                        </li>
                        <li><a href="javascript:">Tab Two</a></li>
                        <li><a href="javascript:">Tab Three</a></li>
                    </ul>
                    <h3 class="panel-title text-uppercase">{{panel.name}}</h3>
                </div>
                <div class="panel-body">{{site.panelcontent}}</div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
