<div class="group">
    <h3 class="group-title">组件<small>(components)</small></h3>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h5>面板(default)</h5>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">内容区</div>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>面板(primary)</h5>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">面板标题</h3>
                </div>
                <div class="panel-body">内容区</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>实例(example)</h5>
            <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">表单</h3>
                </div>
                <div class="panel-body">
                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" value="男" checked>
                                    <span>男</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" value="女">
                                    <span>女</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>请选择主分类</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control">
                                            <option>请选择子分类</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否生产过</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" value="男" checked>
                                    <span>是</span>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" value="女">
                                    <span>否</span>
                                </label>
                                <div>
                                    <br>
                                    <select class="form-control">
                                        <option>请选择产品</option>
                                        <option>2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">金额</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input type="text" class="form-control" placeholder="RMB">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">合作工厂</label>
                            <div class="col-sm-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option1" checked>
                                    <span>工厂A</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option1">
                                    <span>工厂B</span>
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" value="option1">
                                    <span>工厂ABCDEFG</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">必填内容</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                                <span class="help-block">我是表单帮助说明文字</span>
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label required">错误内容</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                                <span class="help-block">填写内容不正确</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="form-group disabled-border">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">
                                        <span>我已阅读并同意用户协议</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                    
                </div>
            </div>
            <div class="form-group disabled-border">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">提交表单</button>
                    <button type="submit" class="btn btn-default">重新填写</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
