<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Defara</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{% if page.slug == "css" %} class="active" {% endif %}>
                    <a href="../css/">样式</a>
                </li>
                <li{% if page.slug == "components" %} class="active" {% endif %}>
                    <a href="../components/">组件</a>
                </li>
                <li{% if page.slug == "form" %} class="active" {% endif %}>
                    <a href="../form/">表单</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
