<div class="group">
    <h3 class="group-title">排版<small>(Typography)</small></h3>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1>h1 我是字体 36px</h1>
            <h2>h2 我是字体 30px</h2>
            <h3>h3 我是字体 24px</h3>
            <h4>h4 我是字体 18px</h4>
            <h5>h5 我是字体 14px</h5>
            <h6>h6 我是字体 12px</h6>
        </div>
        <div class="col-sm-8">
            <h3>正文内容<small>(Body Text)</small></h3>
            <p>Apparel, footwear, Bags...You will find all kinds of trustworthy makers you need on DEFARA. DEFARA solutions help with order management, logistics, and customers’ services. We have prepared the All-in-one tool for your fashion business.</p>
            <p>无论是服装、鞋履，抑或包袋、配饰，你都可以在DEFARA找到最合适的制造商，把你的创意变为现实。 从订单管理到物流、售后，DEFARA已为你准备好一站式解决方案，实现时尚梦想不再是难事,无论是服装、鞋履，抑或包袋、配饰，你都可以在DEFARA找到最合适的制造商，把你的创意变为现实。</p>
            <p class="row">
                <span class="col-sm-3"><strong>Bold(加粗文本)</strong> </span>
                <span class="col-sm-2"> <a href="#">link(连接)</a></span>
                <span class="col-sm-3"> <ins>下划线文本</ins></span>
                <span class="col-sm-4"><em>(italicized text)斜体</em></span>
                <span class="col-sm-12">
                    <small>小号文本内容</small>
                </span>
            </p>
        </div>
    </div>
    
</div>
